.nameHeader
{
color: #D17B88;
text-align: center;
font-size: 10rem;
margin-bottom: 0;
}

.subHeader
{
text-align: center;
font-size: 3rem;
margin-top: 0px;
padding-left: 5rem;
padding-right: 5rem;
color: #D17B88;
}

body{
    background-color: #805E73;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}

.homeButton{
    font-size: 2rem;
    padding: 14px 40px;
    border-radius: 10px;
    background-color: #B8336A;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    border: 2px solid #B8336A;
}

.buttonCenter{
    text-align: center;
    margin-bottom: 0;
    padding-top:5rem;
}
.homeButton:hover {
    background-color:#D999B9;
    border: 2px solid #D999B9;
    
  }

  .adjHeader{
      font-size: 2em;
      color: #D999B9;
      margin: 1em 0 1em 1em;
      letter-spacing: 20px;
  }
  

  #buttonScroll{
      color: black;
  }

  .homeCorner{
      border: 5px solid #B8336A;
      width: 3em;
      height: 3em;
      text-align: center;
      font-size: 3em;
      margin-top: 0;
      vertical-align: middle;
      display: table-cell;
      color: #D999B9;
      border-top-right-radius: .5em;
      border-bottom-left-radius: .5em;
  }
  .homeCorner:hover{
      border: 5px solid #D999B9;
      color: #B8336A;
  }
  a{
      color: black;
      text-decoration: none;
  }
  .slash{
      color: #B8336A;
  }
  .menu{
      color: #B8336A;
  }
  .menu:hover{
      color: #B8336A;
  }
  .hello:hover{
      color: #805E73;
  }
.adjHeader span:hover{
    color: #B8336A;
}
#currentPage{
    color: #B8336A;
}
#currentPage:hover{
    color: #D999B9;
    
}
#otherPage{
    color: #D999B9;
}
#otherPage:hover{
    color: #B8336A;
}
.artistImg{
    height: 30%;
    width: 30%;
    border: solid 4px #D999B9;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    vertical-align: top;
    margin: 1em .5em 1em .5em;
    display: inline-block;
}   
.artistHeader{
    
    font-size: 1.5em;
    color: #D999B9;
    font-weight: 50;
    text-align: center;

}

.divDevVideo{
    margin: 4em 4em 4em 4em;
    
}
.devVideoL{
    height: 60%;
    width: 60%;
    border: solid 4px #D999B9;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    float: left;
    margin-top: 2em;
}
.devVideoR{
    height: 60%;
    width: 60%;
    border: solid 4px #D999B9;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    float: right;
    margin-top: 2em;
}
.videoHeader{
    font-size: 3em;
    text-align: center;
    color: #D999B9;
    
}
.videoPara{
    text-align: center;
    margin: 2em;
    
}
.videoContent{
    float: right;
}
#hereFiles{
    color: #D999B9;
}
.achHeader{
    color: #D999B9;
    text-align: center;
    font-size: 3em;
    text-decoration: underline; 
}
.socialIcon{
    float: right;
    font-size: 2em;
}
.socialIcon:hover{
    color: #D999B9;
}
